Repository v8/v8.dev, pull requests merged in 2018-12, with the labels that each got.

#82 Update profiling docs
  src/docs/profile.md
Labels: cla: yes, docs

#83 Fix footnote formatting in BigInt blog post
  src/blog/bigint.md
Labels: blog, cla: yes

#86 Hightlight active footnote
  src/_css/main.css
Labels: cla: yes, meta

#93 Update blink-layout-tests.md
  src/docs/blink-layout-tests.md
Labels: cla: yes

#94 Mention that layout tests are now called “web tests”
  src/docs/blink-layout-tests.md
  src/docs/index.md
Labels: cla: yes, docs

#89 fix: こにちは → こんにちは
  src/blog/spread-elements.md
Labels: blog, cla: yes

#96 Minify XML files
  package.json
Labels: cla: yes, meta

#97 Add V8 v7.2 release notes
  src/blog/v8-release-72.md
Labels: blog, cla: yes

#98 Update 72 release blog post
  src/blog/v8-release-72.md
Labels: blog, cla: yes

#99 Update the await blog post for version v7.2
  src/blog/fast-async.md
Labels: blog, cla: yes

#102 Documentation page on local benchmarks
  src/docs/benchmarks.md
  src/docs/index.md
Labels: cla: yes

#106 Update firebase-tools dependency
  package.json
Labels: cla: yes
