Repository v8/v8.dev, pull requests merged in 2018-11, with the labels that each got.

#51 Further optimize `v8-turbofan.svg`
  src/_img/v8-turbofan.svg
Labels: cla: yes

#52 Fix dead link in contribute.md
  src/docs/contribute.md
Labels: cla: yes, docs

#54 Fix minor nits in “Modern JavaScript” blog post
  src/blog/modern-javascript.md
Labels: blog, cla: yes

#53 Add section on porting CSA code to Torque
  src/docs/torque.md
Labels: cla: yes, docs

#56 Fix some broken TODO links
  src/blog/speedometer-2.md
  src/docs/d8.md
  src/docs/profile.md
Labels: blog, cla: yes, docs

#57 Document ICU version required for V8
  src/docs/i18n.md
Labels: cla: yes, docs

#58 Improve i18n docs
  src/docs/i18n.md
Labels: cla: yes, docs

#63 Faster async promises
  src/_img/fast-async/await-bug-node-10.svg
  src/_img/fast-async/await-bug-node-8.svg
  src/_img/fast-async/await-code-before.svg
  src/_img/fast-async/await-code-comparison.svg
  src/_img/fast-async/await-new-step-1.svg
  src/_img/fast-async/await-new-step-2.svg
  src/_img/fast-async/await-optimized.svg
  src/_img/fast-async/await-overhead-removed.svg
  src/_img/fast-async/await-overhead.svg
  src/_img/fast-async/await-step-1.svg
  src/_img/fast-async/await-step-2.svg
  src/_img/fast-async/await-step-3.svg
  src/_img/fast-async/await-step-4-final.svg
  src/_img/fast-async/await-under-the-hood.svg
  src/_img/fast-async/benchmark-optimization.svg
  src/_img/fast-async/devtools.png
  src/_img/fast-async/devtools@2x.png
  src/_img/fast-async/doxbee-benchmark.svg
  src/_img/fast-async/http-benchmarks.svg
  src/_img/fast-async/microtasks-vs-tasks.svg
  src/_img/fast-async/node-10-vs-node-12.svg
  src/_img/fast-async/parallel-benchmark.svg
  src/blog/fast-async.md
Labels: cla: yes

#62 Update test.md
  src/docs/test.md
Labels: cla: yes, docs

#65 Fix possible unhandledRejection in code example
  src/blog/fast-async.md
Labels: cla: yes

#67 Torque - modules are now namespaces
  src/docs/torque.md
Labels: cla: yes

#69 port the builtin guide to Torque
  prism-languages.js
  src/docs/csa-builtins.md
  src/docs/index.md
  src/docs/torque-builtins.md
  src/docs/torque.md
Labels: cla: yes, docs

#68 support Windows builds (at least from my msys2 environment)
  README.md
Labels: cla: yes, meta

#73 Update contribute.md
  src/docs/contribute.md
Labels: cla: yes, docs

#75 Update recommendations for untrusted-code-mitigations
  src/docs/untrusted-code-mitigations.md
Labels: cla: yes

#76 Replace Buildbot URLs with LUCI (#1)
  src/blog/v8-nodejs.md
  src/docs/api.md
  src/docs/blink-layout-tests.md
  src/docs/committer-responsibility.md
  src/docs/contribute.md
  src/docs/evaluate-code-coverage.md
  src/docs/node-integration.md
Labels: cla: yes

#77 Add a short section on debugging
  src/docs/cross-compile-arm.md
Labels: cla: yes, docs

#78 Indicate that ARM debugging is about simulator debugging
  src/docs/index.md
Labels: cla: yes, docs

#79 Change title for documentation
  src/docs/index.md
Labels: cla: yes, docs

#80 Change title in documentation
  src/docs/cross-compile-arm.md
Labels: cla: yes

#70 Add WebAssembly in feature-launch-process.md
  src/docs/feature-launch-process.md
Labels: cla: yes, docs

#74 Fix name of build-time untrusted-code-mitigations flag
  src/docs/untrusted-code-mitigations.md
Labels: cla: yes

#81 Further losslessly optimize SVGs
  src/_img/v8-ignition-outline.svg
  src/_img/v8-ignition.svg
  src/_img/v8-turbofan.svg
Labels: cla: yes
