Repository v8/v8.dev, pull requests merged in 2019-07, with the labels that each got.

#202 Add rough rule of thumb for the JSON.parse technique
  src/blog/cost-of-javascript-2019.md
Labels: blog, cla: yes

#204 Add Emscripten and LLVM Wasm backend post
  src/_img/emscripten-llvm-wasm/build.svg
  src/_img/emscripten-llvm-wasm/size.svg
  src/_img/emscripten-llvm-wasm/speed.svg
  src/blog/emscripten-llvm-wasm.md
Labels: blog, cla: yes

#205 Further optimize SVGs
  src/_img/v8-ignition-outline.svg
  src/_img/v8-ignition.svg
  src/_img/v8-liftoff-outline.svg
  src/_img/v8-orinoco-outline.svg
Labels: cla: yes, meta

#206 Update elements-kind.md
  src/blog/elements-kinds.md
Labels: cla: yes

#207 node.js supports numeric separators
  src/features/numeric-separators.md
Labels: cla: yes, language features

#209 WeakRefs: Fix note
  src/features/weak-references.md
Labels: cla: yes

#210 Elaborate on JSON.parse trick
  src/_img/cost-of-javascript-2019/json.svg
  src/blog/cost-of-javascript-2019.md
Labels: blog, cla: yes

#208 Externalized design review guidelines
  src/_img/docs/design-review-guidelines/design-review-guidelines.svg
  src/docs/design-review-guidelines.md
  src/docs/index.md
Labels: cla: yes, docs

#214 Fix typo in image
  src/_img/docs/design-review-guidelines/design-review-guidelines.svg
Labels: cla: yes

#215 Update wording and images of Design Review Guidelines
  src/_img/docs/design-review-guidelines/design-review-guidelines.svg
  src/docs/design-review-guidelines.md
Labels: cla: yes
