Repository v8/v8.dev, pull requests merged in 2019-09, with the labels that each got.

#237 Fix header in Class Fields proposal
  src/features/class-fields.md
Labels: cla: yes

#246 Add feature explainer for nullish coalescing
  src/features/nullish-coalescing.md
Labels: cla: yes, language features

#247 Add code snippet demonstrating nullish coalescing
  src/features/nullish-coalescing.md
Labels: cla: yes, language features

#250 Improve template link
  src/docs/design-review-guidelines.md
Labels: cla: yes, docs

#249 Update to nullish coalescing link
  src/features/optional-chaining.md
Labels: cla: yes, language features

#248 Add Promise.allSettled feature support data for NodeJS
  src/features/promise-combinators.md
Labels: cla: yes, language features

#251 Add V8 v7.8 release post
  src/_img/v8-release-78/memory-savings.svg
  src/_img/v8-release-78/script-streaming-0.svg
  src/_img/v8-release-78/script-streaming-1.svg
  src/_img/v8-release-78/script-streaming-2.svg
  src/_img/v8-release-78/script-streaming-3.svg
  src/blog/v8-release-78.md
Labels: cla: yes
