Repository v8/v8.dev, pull requests merged in 2019-11, with the labels that each got.

#278 Fix contrast for links in a note in dark mode
  src/_css/main.css
Labels: cla: yes, meta

#277 Explain that string.matchAll(nonGlobalRegExp) throws
  src/features/string-matchall.md
Labels: cla: yes, language features

#282 Added link to webkit bug report
  src/features/string-replaceall.md
Labels: cla: yes

#287 Nullish Coalescing was added to Firefox 72
  src/features/nullish-coalescing.md
Labels: cla: yes, language features

#288 Add V8 v7.9 release post
  src/_img/avatars/santiago-aboy-solanes.jpg
  src/_img/avatars/santiago-aboy-solanes@2x.jpg
  src/_img/v8-release-79/OSR-caching.svg
  src/_img/v8-release-79/Speedometer-AngularJS.svg
  src/_img/v8-release-79/Speedometer.svg
  src/blog/v8-release-79.md
Labels: blog, cla: yes

#290 Compress down solanes@ avatar
  src/_img/avatars/santiago-aboy-solanes.jpg
  src/_img/avatars/santiago-aboy-solanes@2x.jpg
Labels: cla: yes

#289 Remove mention of natives blob
  src/docs/cross-compile-arm.md
Labels: cla: yes

#280 Outside the Web: Standalone WebAssembly Binaries Using Emscripten
  src/blog/emscripten-standalone-wasm.md
Labels: blog, cla: yes

#286 Updated esm support for nodejs
  src/features/modules.md
Labels: cla: yes, language features

#291 Make inverted dark-mode figures backgrounds more accurate
  src/_css/main.css
Labels: cla: yes, meta

#292 Embed CDS lightning talk on JSON.parse performance
  src/blog/cost-of-javascript-2019.md
Labels: blog, cla: yes
