Repository v8/v8.dev, pull requests merged in 2019-08, with the labels that each got.

#216 Add tutorial on adding a new Wasm opcode
  src/docs/index.md
  src/docs/webassembly-opcode.md
Labels: cla: yes, docs

#219 Fix and upgrade Markdownlint config
  .markdownlint.json
  package.json
Labels: cla: yes, meta

#222 Fix path to adb
  src/docs/cross-compile-arm.md
Labels: cla: yes, docs

#220 Use shelljs/shx for Windows build support
  .travis.yml
  package.json
Labels: cla: yes, meta

#223 Enable MD033
  .markdownlint.json
  src/docs/design-review-guidelines.md
Labels: cla: yes, meta

#225 Add avatars for Ingvar Stepanyan
  src/_img/avatars/ingvar-stepanyan.jpg
  src/_img/avatars/ingvar-stepanyan@2x.jpg
Labels: cla: yes, meta

#226 Further optimize SVGs
  src/_img/v8-ignition.svg
  src/_img/v8-orinoco.svg
  src/_img/v8-turbofan.svg
  src/_img/v8.svg
Labels: cla: yes, meta

#227 Enable Windows CI builds
  .travis.yml
Labels: cla: yes, meta

#230 Update waterfall link in merge-patch.md
  src/docs/merge-patch.md
Labels: cla: yes, docs

#229 Add feature explainer for optional chaining
  src/features/optional-chaining.md
Labels: cla: yes, language features

#235 Publish AgentConf'19 write-up.
  src/blog/react-cliff.md
Labels: blog, cla: yes

#236 Fix typo
  src/blog/react-cliff.md
Labels: blog, cla: yes
