Repository v8/v8.dev, pull requests merged in 2019-05, with the labels that each got.

#171 Remove obsolete section in profile.md
  src/docs/profile.md
Labels: cla: yes, docs

#170 Further optimize SVGs
  src/_img/v8-liftoff-outline.svg
  src/_img/v8-liftoff.svg
  src/_img/v8-orinoco-outline.svg
  src/_img/v8-orinoco.svg
  src/_img/v8-outline.svg
  src/_img/v8-turbofan-outline.svg
  src/_img/v8.svg
Labels: cla: yes, meta

#180 typo: Double word "can"
  src/blog/fast-properties.md
Labels: blog, cla: yes

#176 typo: Double word "the"
  src/blog/modern-javascript.md
  src/blog/v8-release-56.md
  src/docs/torque.md
Labels: blog, cla: yes

#177 typo: Double word "should"
  src/docs/merge-patch.md
Labels: cla: yes, docs

#178 typo: Double word "be"
  src/blog/speeding-up-regular-expressions.md
Labels: blog, cla: yes

#179 typo: Double word "all"
  src/blog/orinoco.md
Labels: blog, cla: yes

#187 typo: Takeway -> Takeaway
  src/blog/fast-properties.md
Labels: blog, cla: yes

#185 typo: heurisics -> heuristics
  src/blog/code-caching-for-devs.md
Labels: blog, cla: yes

#173 update class definition docs with recent features
  src/docs/torque.md
Labels: cla: yes, docs

#188 Update docs on weak/strong fields sections
  src/docs/torque.md
Labels: cla: yes
