Repository v8/v8.dev, pull requests merged in 2020-01, with the labels that each got.

#316 Mention the status of `await` inside of modules
  src/features/modules.md
Labels: cla: yes, language features

#317 Update dark-mode-toggle version
  package.json
Labels: cla: yes, meta

#318 Fix link and usage of V8_DEPRECATED
  src/docs/api.md
Labels: cla: yes, docs

#238 Update Firefox support for public class fields
  src/features/class-fields.md
Labels: cla: yes, language features

#305 Add a SIMD Feature explainer
  .markdownlint.json
  src/_img/simd/credit_card.mp4
  src/_img/simd/emotionRecognizer.mp4
  src/_img/simd/handgif.mp4
  src/_img/simd/invisibilityCloak.mp4
  src/features/simd.md
Labels: cla: yes, language features

#323 Make sure figures never get too wide
  src/_css/main.css
Labels: cla: yes, meta

#326 Automatically add video dimensions
  add-image-and-video-dimensions.js
  add-image-dimensions.js
  package.json
  src/features/simd.md
Labels: cla: yes, meta
