Repository v8/v8.dev, pull requests merged in 2022-11, with the labels that each got.

#675 Remove Twitter integration
  src/_js/main.mjs
  src/index.njk
Labels: meta

#672 Update Firefox status for SIMD
  src/features/simd.md
Labels: language features

#667 add return type explicitly to Torque sample code
  src/docs/torque.md
Labels: docs

#676 Oilpan library: Restore footnote
  src/blog/oilpan-library.md
Labels: cla: yes, blog

#673 Oilpan pointer compression
  src/_css/main.css
  src/_img/oilpan-pointer-compression/compressed-layout.svg
  src/_img/oilpan-pointer-compression/uncompressed-layout.svg
  src/blog/oilpan-pointer-compression.md
Labels: cla: yes, blog

#678 Update oilpan-pointer-compression.md
  src/blog/oilpan-pointer-compression.md
Labels: blog
